/* ==========================
        ABOUT SECTION
========================== */

.about{

    padding:120px 0;

    background:#fff;

}

.about .container{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:70px;

    align-items:center;

}

.about-image{

    overflow:hidden;

    border-radius:20px;

}

.about-image img{

    transition:.5s;

}

.about-image:hover img{

    transform:scale(1.08);

}

.section-tag{

    display:inline-block;

    background:#2E7D32;

    color:#fff;

    padding:8px 20px;

    border-radius:30px;

    font-size:14px;

    letter-spacing:1px;

}

.about-content h2{

    margin:20px 0;

    font-size:42px;

    color:#222;

}

.about-content p{

    color:#666;

    line-height:1.9;

    margin-bottom:35px;

}

.about-features{

    display:flex;

    flex-direction:column;

    gap:25px;

}

.feature{

    display:flex;

    gap:20px;

    align-items:flex-start;

}

.feature i{

    width:60px;

    height:60px;

    border-radius:50%;

    background:#2E7D32;

    color:#fff;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:24px;

}

.feature h4{

    margin-bottom:8px;

    color:#222;

}

.feature p{

    margin:0;

}