.gallery{

    padding:120px 0;
    background:#fff;

}

.gallery-grid{

    margin-top:60px;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    grid-auto-rows:250px;

    gap:20px;

}

.gallery-item{

    overflow:hidden;

    border-radius:18px;

}

.gallery-item.large{

    grid-row:span 2;

}

.gallery-item.wide{

    grid-column:span 2;

}

.gallery-item img{

    width:100%;
    height:100%;
    object-fit:cover;

    transition:.6s;

}

.gallery-item:hover img{

    transform:scale(1.1);

}

.gallery-item{

    cursor:pointer;

    position:relative;

}

.gallery-item::after{

    content:"+";

    position:absolute;

    inset:0;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:60px;

    color:#fff;

    background:rgba(46,125,50,.45);

    opacity:0;

    transition:.3s;

}

.gallery-item:hover::after{

    opacity:1;

}