/*==============================
        LIGHTBOX
==============================*/

.lightbox{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.95);

    display:flex;

    justify-content:center;

    align-items:center;

    opacity:0;

    visibility:hidden;

    transition:.35s ease;

    z-index:10000;

}

.lightbox.active{

    opacity:1;

    visibility:visible;

}

.lightbox-image{

    max-width:90%;

    max-height:85%;

    border-radius:15px;

    box-shadow:0 20px 60px rgba(0,0,0,.5);

}

.close-lightbox{

    position:absolute;

    top:30px;

    right:40px;

    color:#fff;

    font-size:45px;

    cursor:pointer;

}

.prev,
.next{

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    color:#fff;

    font-size:50px;

    cursor:pointer;

    user-select:none;

    padding:20px;

}

.prev{

    left:25px;

}

.next{

    right:25px;

}

.prev:hover,
.next:hover,
.close-lightbox:hover{

    color:#D4AF37;

}