.header{

position:fixed;

top:0;

left:0;

width:100%;

z-index:1000;

transition:.4s;

backdrop-filter:blur(18px);

background:rgba(255,255,255,.08);

border-bottom:1px solid rgba(255,255,255,.15);

}

.header.scrolled{

background:white;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}
.header .container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 0;

}

.logo{

    display:flex;

    align-items:center;

    gap:10px;

}

.logo img{

    width:55px;

}

.logo h2{

    color:white;

    font-size:22px;

    font-weight:700;

}

.navbar ul{

    display:flex;

    gap:35px;

}

.navbar a{

    color:white;

    font-weight:500;

    position:relative;

}

.navbar a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-5px;

    width:0;

    height:2px;

    background:#D4AF37;

    transition:.4s;

}

.navbar a:hover::after{

    width:100%;

}

.menu-btn{

    display:none;

    color:white;

    font-size:28px;

    cursor:pointer;

}

/* Mobile Navigation */

.navbar.show{

    right:0;

}

.navbar a.active{

    color:#2E7D32 !important;

    font-weight:700;

}