/* ==========================
      WHY CHOOSE US
========================== */

.why-us{

    padding:120px 0;

    background:#f7faf7;

}

.section-title{

    text-align:center;

    margin-bottom:60px;

}

.section-title h2{

    margin-top:20px;

    font-size:42px;

}

.why-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;

}

.why-card{

    background:#fff;

    padding:40px 30px;

    text-align:center;

    border-radius:20px;

    transition:.4s;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.why-card:hover{

    transform:translateY(-10px);

}

.why-card i{

    width:80px;

    height:80px;

    background:#2E7D32;

    color:#fff;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    margin:auto;

    font-size:30px;

}

.why-card h3{

    margin:25px 0 15px;

}

.why-card p{

    color:#666;

    line-height:1.7;

}